<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CESM2 Visualizer</title>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS --> 
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <!-- Local css -->
        <style>
            html, body {
                height: 100%;
                margin: 0;
            }
            .leaflet-container {
                height: 400px;
                width: 600px;
                max-width: 100%;
                max-height: 100%;
            }
        </style>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}">
        <script src="https://d3js.org/d3.v7.min.js"></script>
    </head>

    <body>
         <div id="map"></div>
        <div id="sidebar">
        <p>
            Coordinates: (<span id="lat-update">N/A</span>, <span id="lon-update">N/A</span>)
        </p>
        <p>
            CESM2 Predicted 2023 Mean Surface Temperature: <span id="temp-update">N/A</span>
        </p>
        <select name="Variable" id="var_select">
            {% for c in var_list %}
                <option value="{{c}}">{{c}}</option>
            {% endfor %}
        </select>
        <select name="Forcing Type" id="forcing_type">
            {% for f in forcing_types %}
                <option value="{{f}}">{{f}}</option>
            {% endfor %}
        </select>
        <svg id="time-series-chart" height="350" width="350"></svg>
    </div>

    <script>
        // construct leaflet map object
        var map = new L.map('map', {
        center: [30,0], 
        minZoom: 1,
        zoom: 2,
        zoomSnap: 1,
        maxBounds: [[-84, -Infinity],[84, Infinity]],
        maxBoundsViscosity: 1.0
        })

        // basemap
        var CartoDB_DarkMatterNoLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            maxZoom: 6
        }).addTo(map);

        // get selected variable and forcing type
        var selectedVar  = document.getElementById('var_select').value
        var selectedForcing  = document.getElementById('forcing_type').value

        </script>

        <script>
        // code for generating time series with d3.js

        // chart setup
        const svg = d3.select("svg#time-series-chart");
        const width = svg.attr("width");
        const height = svg.attr("height");
        const margin = {top: 25, right: 15, bottom: 60, left: 70};
        const chartWidth = width - margin.left - margin.right;
        const chartHeight = height - margin.top - margin.bottom;

        // placeholder for marking a circle for the current year
        let currentYear = 2023;

        let annotations = svg.append("g").attr("id","annotations"); 
        let chartArea = svg.append("g").attr("id","points")
                        .attr("transform",`translate(${margin.left},${margin.top})`);

        map.on('click', function (e) {
            annotations.selectAll("*").remove();
            chartArea.selectAll("*").remove();
            svg.selectAll(".label").remove();

            // code used for unprojecting the data back into Web Mercator
            let clickedCoords = e.latlng

            // let projectedCoords = L.CRS.EPSG3857.project(e.latlng)
            // let latitude = projectedCoords.y;
            // let longitude = projectedCoords.x;

            // send coordinates to backend
            const cmd = "../ts/?" + 
                "lat=" + JSON.stringify(e.latlng.lat) + "&" + 
                "lon=" + JSON.stringify(e.latlng.lng) + "&" +
                "var=" + selectedVar + "&" +
                "forcing_type=" + selectedForcing
            console.log(cmd)
                $.get(cmd,
                function(res) {
                    console.log(res);
                    plotData(res, clickedCoords)
                }
            )
        });

        function plotData(data, clickedCoords) {
            // ensure data is of type Number
            data.forEach( d => {
                d['time'] = Number( d['time']);
                d[selectedVar] = Number(d[selectedVar]);
            });

            // construct scales for the x-axis and y-axis based on data range
            const xDomain = d3.extent(data, d => d.time);
            const yDomain = d3.extent(data, d => d.selectedVar)
            const timeScale = d3.scaleLinear().domain(xDomain).range([0, chartWidth]);
            const dataScale = d3.scaleLinear().domain(yDomain).range([chartHeight, 0]);

            // construct y-axis
            let leftAxis = d3.axisLeft(dataScale)
            let leftGridlines = d3.axisLeft(dataScale)
                                  .tickSize(-chartWidth-10)
                                  .tickFormat("");

            annotations.append("g")
                        .attr("class", "y axis")
                        .attr("transform",`translate(${margin.left-10},${margin.top})`)
                        .call(leftAxis);
            annotations.append("g")
                        .attr("class", "y gridlines")
                        .attr("transform",`translate(${margin.left-10},${margin.top})`)
                        .call(leftGridlines);

            // construct x-axis
            let bottomAxis = d3.axisBottom(timeScale).tickFormat(d3.format("d"))
            let bottomGridlines = d3.axisBottom(timeScale)
                                    .tickSize(-chartHeight-10)
                                    .tickFormat("")
            annotations.append("g")
                        .attr("class", "x axis")
                        .attr("transform",`translate(${margin.left},${chartHeight + margin.top+10})`)
                        .call(bottomAxis)
            annotations.append("g")
                        .attr("class", "x gridlines")
                        .attr("transform",`translate(${margin.left},${chartHeight + margin.top+10})`)
                        .call(bottomGridlines);

            // create plot title
            annotations.append('text')
                .attr("x", chartWidth / 2.0 + margin.left)
                .attr("y", 15)
                .attr("class", "title")
                .style("font-size", "16px")
                .style("text-anchor", "middle")
                .style("fill", "white")
                .text("Time Series for " + clickedCoords.lat.toFixed(2).toString() + ", " + clickedCoords.lng.toFixed(2).toString());
            
            // create y-axis label
            svg.append("text")
               .attr("class", "y-axis label")
               .attr("x", -chartHeight/2.0 - 10)
               .attr("y", 10)
               .attr("transform", "rotate(-90)")
               .style("font-size", "12px")
               .style("text-anchor", "middle")
               .style("fill", "white")
               .text("Surface Temperature (C°)");

            // create x-axis label
            svg.append('text')
                .attr("x", chartWidth / 2.0 + margin.left)
                .attr("y", chartHeight + margin.bottom + 10)
                .attr("class", "x-axis label")
                .style("font-size", "12px")
                .style("text-anchor", "middle")
                .style("fill", "white")
                .text("Year");

            // construct line
            chartArea.append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "white")
                .attr("stroke-width", 2)
                .attr("d", d3.line()
                    .x(function(d) { return (timeScale(d.time)) })
                    .y(function(d) { return (dataScale(d.selectedVar)) })
                )
            
            // construct area to detect mouseover on chart
            let hoverArea = chartArea.append("rect")
                .attr("class", "overlay")
                .attr("width", chartWidth)
                .attr("height", chartHeight)
                .style("opacity", 0)
                .on("mouseover", () => focus.style("display", null))
                .on("mouseout", () => focus.style("display", "none"))
                .on("mousemove", mousemove);
             
            // add the dropline and hover tooltip components
            const focus = chartArea
                .append("g")
                .attr("class", "focus")
                .style("display", "none")
            
            let block = focus.append("rect")
                 .attr("x", 0)
                 .attr("y", 0)
                 .attr("width", "70px")
                 .attr("height", "20px")
                 .style("fill", "white")

            let dropLine = focus.append("line")
                 .attr("class", "x-hover-line hover-line")
                 .attr("stroke-width", "1px")
                 .style("stroke", "white")
                 .attr("x1", 0)
                 .attr("y1", 0)
                 .attr("x2", 0)
                 .attr("y2", chartHeight +10);
            
            // function for creating a moving tooltip visible on hover on the chart
            function mousemove() {
                console.log("moved")
                let bisectDate = d3.bisector((d) => d.time).left;
                let [mouseX, mouseY] = d3.pointer(event, this);
                let x0 = timeScale.invert(mouseX);
                let i = bisectDate(data, x0, 1);
                let d0 = data[i - 1];
                let d1 = data[i];
                let d = x0 - d0.time > d1.time - x0 ? d1 : d0;

                focus.attr("display", "block")
                block.attr(
                "transform",
                `translate(${timeScale(d.time)}, ${dataScale(d.selectedVar)})`
                );
                dropLine.attr(
                "transform",
                `translate(${timeScale(d.time)}, 0)`
                );

                focus.select(".tooltip").remove();
                const tooltip = focus.append("text").attr("class", "tooltip");
                tooltip.attr("x", 10).attr("y", 15).text(d.selectedVar.toFixed(3));

                tooltip.attr(
                "transform",
                `translate(${timeScale(d.time)}, ${dataScale(d.selectedVar)})`
                );
               
            }
            
            // elevate plotted line above gridlines
            chartArea.raise()

            // add circle indicating current year
            let selectedYearData = data.find(d => d.time === currentYear).selectedVar

            chartArea.append("circle")
                     .attr("cx", timeScale(currentYear))
                     .attr("cy", dataScale(selectedYearData))
                     .attr("r", "6px")
                     .style("fill", "gray")
                     .style("stroke", "white")
                     .style("stroke-width", 2)
        }
        </script>
    </body>
</html>